<div class="detalhes">
    <h3>Nome</h3>
    <ul>
        <li> <strong>Nome do contato</strong> Contato<button class="btn-remove">x</button></li>
        <li> <strong>Nome do contato</strong> Contato<button class="btn-remove">x</button></li>
        <li> <strong>Nome do contato</strong> Contato<button class="btn-remove">x</button></li>
        <li> <strong>Nome do contato</strong> Contato<button class="btn-remove">x</button></li>
    </ul>

    <div class="add-contact">
        <input type="text" placeholder="Nome" />
        <input type="text" placeholder="Contato" />
        <button> Adicionar </button>
    </div>
</div>
