.detalhes{
  width: 380px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  h3{
    margin-left: 15px;
  }

  ul{
    width: 100%;
    margin:0;
    padding:0;
    li{
      list-style: none;
      display: flex;
      margin: 0;
      padding: 15px;
      justify-content: space-between;
      &:hover{
        background: paleturquoise;
      }

      .btn-remove{
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 40px;
        cursor: pointer;
          &:hover{
            background: #900;
            color: white;
          }
      }
    }
  }

  .add-contact{
    display: flex;
    flex-direction: column;
    padding: 20px;

    button{
      display: inline-block;
      font-weight: 400;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border: 1px solid transparent;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      border-radius: .25rem;
      transition: color .15s;
      cursor: pointer;
      &:hover{
        background: purple;
        color: white;
      }
    }
  }

  .add-contact input, .ipt{
    font-size: 13px;
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  .ipt{
    width: 240px;
    margin-top: 9px;
  }

}
